@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #0f172a00 inset !important; /* Tailwind bg color (dark navy) */
  -webkit-text-fill-color: #ffffff !important; /* White text */
  transition: background-color 9999s ease-in-out 0s;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}